<div class="rec-slider slider-nav" id="recommendation-slider">
  <div class="slider-box">
    //= '../product-recommendation-item/product-recommendation-item.html'
  </div>
  <div class="slider-box">
    //= '../product-recommendation-item/product-recommendation-item.html'
  </div>
  <div class="slider-box">
    //= '../product-recommendation-item/product-recommendation-item.html'
  </div>
  <div class="slider-box">
    //= '../product-recommendation-item/product-recommendation-item.html'
  </div>
  <div class="slider-box">
    //= '../product-recommendation-item/product-recommendation-item.html'
  </div>
  <div class="slider-box">
    //= '../product-recommendation-item/product-recommendation-item.html'
  </div>
  <div class="slider-box">
    //= '../product-recommendation-item/product-recommendation-item.html'
  </div>
  <div class="slider-box">
    //= '../product-recommendation-item/product-recommendation-item.html'
  </div>
</div>
