<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__content">
        <div class="footer__logo">
          <a href="#" class="footer__logo-link">
            <img
              src="../../../img/logo/logo.png"
              srcset="img/logo/logo.png 1x, img/logo/logo@2x.png 2x"
              alt="logo"
              class="footer__logo-img"
            />
          </a>
        </div>
        <p class="footer__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deserunt repudiandae dignissimos quibusdam
          assumenda perferendis amet nemo nobis modi laudantium, vel in distinctio alias reprehenderit eos corporis,
          expedita unde asperiores!
        </p>
      </div>
      <div class="footer_coll-wrap">
        <div class="footer__col footer__col--clients ">
          <p class="footer__col-title">Клиентам</p>
          <ul class="footer__col-list">
            <li class="footer__col-item"><a href="#">Отследить заказ</a></li>
            <li class="footer__col-item"><a href="#">Доставка и оплата</a></li>
            <li class="footer__col-item"><a href="#">Правила возврата</a></li>
            <li class="footer__col-item">
              <a href="#">Часто задаваемые вопросы</a>
            </li>
            <li class="footer__col-item"><a href="#">Бонусная система</a></li>
          </ul>
        </div>
        <div class="footer__col footer__col--about">
          <p class="footer__col-title">О нас</p>
          <ul class="footer__col-list">
            <li class="footer__col-item"><a href="#">О компакнии</a></li>
            <li class="footer__col-item"><a href="#">Отзывы</a></li>
            <li class="footer__col-item"><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div class="footer_coll-wrap">
        <div class="footer__col footer__col--contact">
          <p class="footer__col-title">Контакты</p>
          <div class="tels-block">
            <div class="tels">
              <div class="dropdown dropdown__tels">
                <div class="top">
                  <a href="tel:+38(067)2210101" class="tel">(067) 221-01-01</a>
                  <div class="arrow"></div>
                </div>
                <ul class="dropdown__list dropdown__list-dark">
                  <li>
                    <a href="tel:+38(067)2210101" class="tel">(067) 221-01-01</a>
                  </li>
                  <li>
                    <a href="tel:+38(067)2210101" class="tel">(067) 221-01-01</a>
                  </li>
                </ul>
              </div>
              <p class="tels__text">Выберите своего оператора</p>
            </div>
            <!-- if is not FrontPage add class "rect"-->
            <div class="tels-btn rect">
              <!-- -->
              <span>Мы перезвоним Вам</span>
            </div>
          </div>
        </div>
        <div class="footer__col footer__col--social">
          <p class="footer__col-title">Оставайтесь с нами</p>
          <!-- if is not FrontPage add class "rect"-->
          <div class="social rect">
            <!-- -->
            <a href="#" class="social__link"><img src="../../../img/social/twitter.svg" alt="twitter"/></a>
            <a href="#" class="social__link"><img src="../../../img/social/facebook.svg" alt="facebook"/></a>
            <a href="#" class="social__link"><img src="../../../img/social/instagram.svg" alt="instagram"/></a>
            <a href="#" class="social__link"><img src="../../../img/social/whatsapp.svg" alt="whatsapp"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="container">
      <p class="copyright__text">© 2018 – . Все права защищены.</p>
      <div class="copyrigh__wrap">
        <a href="#" class="copyrigh__link">Права потребителя</a>
        <a href="#" class="copyrigh__link">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>
