.info-page {
  &__wrap {
    width: 100%;
    display: flex;
    margin-top: 50px;

    h1 {
      font-size: 32px;
      font-family: $info-page-font;
      color: $info-page-color;
      font-weight: bold;
      text-transform: uppercase;
    }

    h2 {
      font-size: 24px;
      font-family: $info-page-font;
      color: $info-page-color;
      font-weight: bold;
      text-transform: uppercase;
    }

    h3 {
      font-size: 20px;
      font-family: $info-page-font;
      color: $info-page-color;
      font-weight: bold;
      text-transform: uppercase;
    }

    h4 {
      font-size: 18px;
      font-family: $info-page-font;
      color: $info-page-color;
      font-weight: bold;
      text-transform: uppercase;
    }

    h5 {
      font-size: 16px;
      font-family: $info-page-font;
      color: $info-page-color;
      font-weight: bold;
      text-transform: uppercase;
    }

    h6 {
      font-size: 14px;
      font-family: $info-page-font;
      color: $info-page-color;
      font-weight: bold;
      text-transform: uppercase;
    }

    ul {
      //   list-style-image: url("../../../img/icons/list-item.png");
      padding-left: 100px;

      li {
        position: relative;

        &::before {
          content: url("../../../img/icons/list-item.png");
          position: absolute;
          left: -30px;
        }
      }
    }

    ol {
      list-style-type: none;
      counter-reset: item;
      position: relative;
      padding-left: 100px;

      li {
        position: relative;

        &:before {
          content: counter(item) ".";
          counter-increment: item;
          color: $main-color;
          position: absolute;
          left: -30px;
          font-size: 16px;
          font-family: $info-page-font;
        }
      }
    }

    .info-page__social {
      .info-page__social-icons {
        line-height: 0;

        .social__link {
          position: relative;
          width: 46px;
          height: 46px;
          display: inline-block;
          margin-right: 10px;
          background-image: linear-gradient(90deg, #464e56 1%, #6c7b88);
          transition: 0.2s;

          &:hover {
            background-image: linear-gradient(90deg, #559f18, #67b81d);
          }

          & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 70%;
            max-height: 95%;
          }
          &:nth-child(4) {
            margin-right: 0px;
          }
        }
      }
    }

    .info-page__content {
      flex: 1 1 1170px;

      .info-page__text {
        font-size: 16px;
        font-family: $info-page-font;
        color: $info-page-color;
        line-height: 1.5;

        blockquot {
          font-size: 20px;
          font-family: $quote-font;
          color: rgb(28, 28, 28);
          line-height: 1.5;

          .quote {
            position: relative;

            &::before {
              content: url("../../../img/icons/quote.png");
              position: absolute;
              left: -50px;
            }
          }

          & .quote {
            margin-left: 200px;
          }
        }
      }
    }

    .info-page__date {
      display: flex;
      margin-top: 10px;

      .date-block,
      .comments-block {
        display: flex;
        align-items: center;

        span {
          font-size: 16px;
          font-family: $info-page-font;
          color: rgb(153, 153, 153);
          margin-left: 5px;
          &:hover {
            cursor: pointer;
            color: rgb(103, 184, 29);
          }
        }
      }

      .comments-block {
        margin-left: 40px;
      }
    }

    .info-page__relevant {
      flex: 1 1 370px;
      height: fit-content;
      background-color: $white;
      margin-left: 30px;
      box-sizing: border-box;
      border-radius: 10px;

      .title-block {
        font-size: 22px;
        font-family: $article-description-font;
        color: rgb(28, 28, 28);
        font-weight: bold;
        padding-left: 28px;
      }

      .article-block {
        border-bottom: 3px solid #f2f2f3;
        padding-bottom: 30px;
        padding-left: 28px;
        // padding-right: 5px;
        &:nth-of-type(3) {
          border-bottom: unset;
        }
        .article-name {
          a {
            font-size: 24px;
            font-family: $info-page-font-bold;
            color: $article-name-color;
            font-weight: bold;
            transition: all 0.1s linear;
            &:hover {
              cursor: pointer;
              color: rgb(103, 184, 29);
            }
          }
        }

        .article-description {
          font-size: 16px;
          font-family: $article-description-font;
          color: rgb(102, 102, 102);
          line-height: 1.5;
        }

        .article-btn {
          display: flex;
          align-content: center;
          font-size: 16px;
          font-family: $main-font-light;
          color: rgb(34, 34, 34);
          border: 2px solid rgb(87, 161, 25);
          width: fit-content;
          padding-left: 60px;
          padding-right: 60px;
          padding-top: 12px;
          padding-bottom: 12px;

          &:hover {
            color: $white;
            background-image: linear-gradient(90deg, #579f18, #68b71d);
            border: 2px solid transparent;
          }
        }
        .info-page__date {
          margin-bottom: 30px;
          //   justify-content: space-between;
          .comments-block {
            margin-left: 10%;
          }
        }
      }
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;

    .info-page__title {
      display: flex;

      h2 {
        margin: auto 0;
      }
    }
  }
}
