<div class="menu">
  <div class="container">
    <div class="menu__box">
      <div class="menu__desctop">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#" class="menu__link  menu__image-ofice"
              ><span>офисная</span><img class="menu__image" src="../../../img/menu/office.png" alt=""
            /></a>

            <div class="sub-menu">
              <div class="sub-menu__wrapper">
                <div class="sub-menu__col">
                  <ul class="sub-menu__list">
                    <li class="sub-menu__item">
                      <div>
                        <a href="#">Кабинеты руководителя</a>
                      </div>
                    </li>
                    <li class="sub-menu__item">
                      <div>
                        <a href="#">Мебель для персонала</a>
                      </div>
                    </li>
                    <li class="sub-menu__item">
                      <div>
                        <a href="#">Стеллажи для офиса</a>
                      </div>
                      <ul></ul>
                    </li>
                    <li class="sub-menu__item">
                      <div>
                        <a href="#">Ресепшн</a>
                      </div>
                      <ul></ul>
                    </li>
                    <li class="sub-menu__item">
                      <div>
                        <a href="#">Разное</a>
                      </div>
                      <ul></ul>
                    </li>
                    <li class="sub-menu__item">
                      <div>
                        <a href="#">Надстройки</a>
                      </div>
                      <ul></ul>
                    </li>
                    <li class="sub-menu__item">
                      <div>
                        <a href="#">Офисные шкафы</a>
                      </div>
                      <ul class="sub-menu__list-nested">
                        <li class="sub-menu__item-nested">
                          <div>
                            <a href="#">Шкафы для документов</a>
                          </div>
                        </li>
                        <li class="sub-menu__item-nested">
                          <div>
                            <a href="#">Офисные шкафы для одежды</a>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="sub-menu__col sub-menu__col-next">
                  <ul class="sub-menu__list">
                    <li class="sub-menu__item">
                      <div>
                        <a href="#">Кабинеты руководителя</a>
                      </div>
                    </li>
                    <li class="sub-menu__item">
                      <div>
                        <a href="#">Мебель для персонала</a>
                      </div>
                    </li>
                    <li class="sub-menu__item">
                      <div>
                        <a href="#">Стеллажи для офиса</a>
                      </div>
                      <ul></ul>
                    </li>
                    <li class="sub-menu__item">
                      <div>
                        <a href="#">Ресепшн</a>
                      </div>
                      <ul></ul>
                    </li>
                    <li class="sub-menu__item">
                      <div>
                        <a href="#">Разное</a>
                      </div>
                      <ul></ul>
                    </li>
                    <li class="sub-menu__item">
                      <div>
                        <a href="#">Надстройки</a>
                      </div>
                      <ul></ul>
                    </li>
                    <li class="sub-menu__item">
                      <div>
                        <a href="#">Офисные шкафы</a>
                      </div>
                      <ul class="sub-menu__list-nested">
                        <li class="sub-menu__item-nested">
                          <div>
                            <a href="#">Шкафы для документов</a>
                          </div>
                        </li>
                        <li class="sub-menu__item-nested">
                          <div>
                            <a href="#">Офисные шкафы для одежды</a>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link menu__image-trade"
              ><span>торговая</span> <img class="menu__image" src="../../../img/menu/trade.png" alt=""
            /></a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link menu__image-drugstore"
              ><span>для аптек</span><img class="menu__image" src=".././../../img//menu/drugstore.png" alt=""
            /></a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link menu__image-home"
              ><span>для дома</span><img class="menu__image" src="../../../img/menu/home.png" alt=""
            /></a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link menu__image-bank"
              ><span>для банков</span><img class="menu__image" src="../../../img/menu/bank.png" alt=""
            /></a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link menu__image-chair"
              ><span>кресла и стулья</span><img class="menu__image" src="../../../img/menu/chair.png" alt=""
            /></a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link menu__image-sofa"
              ><span>мягкая мебель</span><img class="menu__image" src="../../../img/menu/sofa.png" alt=""
            /></a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link menu__image-call"
              ><span>для колл центров</span><img class="menu__image" src="../../../img/menu/call-center.png" alt=""
            /></a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link menu__image-mattress"
              ><span>матрасы</span><img class="menu__image" src="../../../img/menu/mattress.png" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu__mob">
      <div class="menu__button--mob">
        <span class="button__tetx--mob">Меню</span>
      </div>
      <ul class="menu__list--mob">
        <li class="menu__item--mob">
          <a href="#" class="menu__link--mob">Офисная</a>
          <div class="sub__menu--mob">
            <ul class="sub__list--mob">
              <li class="sub__item--mob"><a href="#" class="sub__link--mob">Офисный стол</a></li>
              <li class="sub__item--mob"><a href="#" class="sub__link--mob">Офисный шкаф</a></li>
              <li class="sub__item--mob"><a href="#" class="sub__link--mob">Стол руководителя</a></li>
            </ul>
          </div>
        </li>
        <li class="menu__item--mob">
          <a href="#" class="menu__link--mob">Офисная</a>
        </li>
        <li class="menu__item--mob">
          <a href="#" class="menu__link--mob">Офисная</a>
        </li>
        <li class="menu__item--mob">
          <a href="#" class="menu__link--mob">Офисная</a>
        </li>
      </ul>
    </div>
  </div>
</div>
