.catalog {
  // display: flex;
  &__filter-wrap {
    margin-top: 30px;
    // width: 370px;
    flex: 1 1 370px;
  }

  &__wrap {
    margin-left: 30px;
    flex: 1 1 1170px;
  }

  &__block {
    display: flex;
    margin-bottom: 50px;
  }

  &__products {
    position: relative;
    flex: 1 1 877px;
    box-sizing: border-box;
    border-radius: 10px;
    // z-index: 10;
    overflow: hidden;

    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }

  .page__title-text {
    font-size: 26px;
    font-family: $heading-text-font-bold;
    color: rgb(28, 28, 28);
    line-height: 1;
    margin-top: 0;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;

    .filter {
      &-active {
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 0;
      }

      &-item {
        display: inline-block;
        border: 2px solid rgb(223, 223, 223);
        box-sizing: border-box;
        margin-left: 10px;
        // margin-bottom: 5px;
        transition: all 0.1s linear;
        color: $text-color;

        &:first-of-type {
          margin-left: 0px;
        }

        &:hover {
          border: 2px solid $menu-color_hover;

          .filter-link {
            color: inherit;

            &:after {
              content: "";
              background: url("../../../img/icons/close-button-active.svg")
                no-repeat center center;
              position: absolute;
              width: 12px;
              height: 12px;
              background-size: contain;
              right: 0px;
              top: 50%;
              transform: translate(-50%, -50%);
              transition: all 0.1s linear;
            }
          }

          .filter-link_reset {
            &:after {
              content: none;
            }
          }

          .filter-link_reset {
            color: red;
          }
        }

        &_reset:hover {
          border: 2px solid red;
        }
      }

      &-link {
        display: block;
        font-size: 16px;
        font-family: $main-font-light;
        color: rgb(223, 223, 223);
        padding: 3px 27px 3px 9px;
        position: relative;
        transition: all 0.1s linear;
        &:after {
          content: "";
          background: url("../../../img/icons/close-button.svg") no-repeat
            center center;
          position: absolute;
          width: 12px;
          height: 12px;
          background-size: contain;
          right: 0px;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &_reset {
          padding-right: 9px;
          &:after {
            content: none;
          }
        }
      }
    }

    .sort {
      display: flex;
      &__dropdown {
        .dropdown__param {
          .arrow {
            width: 30px;
            height: 20px;
            position: absolute;
            display: inline-flex;
            top: 7px;
            right: 5px;
            margin: auto;
            justify-content: center;
            // z-index: -1;
          }

          &.open {
            .dropdown__list-sort {
              opacity: 1;
              z-index: 10;
            }

            & .arrow::after {
              transform: rotate(180deg);
            }
          }
        }

        .dropdown__list-sort {
          width: 100%;
          opacity: 0;
          border: 1px solid $border-color;
          background-color: rgb(255, 255, 255);
          padding: 10px 20px 10px 15px;
          box-sizing: border-box;
          z-index: -1;

          li {
            margin-bottom: 10px;
          }
        }
      }

      &-active {
        display: block;
        padding: 4px 40px 4px 15px;
        border: 1px solid $border-color;
        background-color: rgb(255, 255, 255);
      }

      &_param {
        display: block;
        font-size: 18px;
        font-family: $PTSans-regular;
        color: rgb(34, 34, 34);
        line-height: 1.5;
        border-width: 1px;
        transition: all 0.2s linear;

        &:hover {
          color: $menu-color_hover;
          transition: all 0.1s linear;
        }
      }

      .catalog__mode {
        display: flex;
        align-items: center;

        &-btn {
          margin-left: 20px;
          width: 32px;
          height: 32px;
        }

        .mode__link {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          &-list {
            &:after {
              content: "";
              background: url("../../../img/icons/mode-list.svg") no-repeat
                center center;
              position: absolute;
              // background-size: 100%;
              width: 100%;
              height: 100%;
              background-size: cover;
              // right: 0px;
              // top: 50%;
              // transform: translate(-50%, -50%);
            }
            &.active {
              &:after {
                content: "";
                background: url("../../../img/icons/mode-list-active.svg")
                  no-repeat center center;
                position: absolute;
                // background-size: 100%;
                width: 100%;
                height: 100%;
                background-size: cover;
                // right: 0px;
                // top: 50%;
                // transform: translate(-50%, -50%);
              }
            }
          }
          &-grid {
            &:after {
              content: "";
              background: url("../../../img/icons/mode-menu.svg") no-repeat
                center center;
              position: absolute;
              // background-size: 100%;
              width: 100%;
              height: 100%;
              background-size: cover;
              // right: 0px;
              // top: 50%;
              // transform: translate(-50%, -50%);
            }
            &.active {
              &:after {
                content: "";
                background: url("../../../img/icons/mode-menu-active.svg")
                  no-repeat center center;
                position: absolute;
                // background-size: 100%;
                width: 100%;
                height: 100%;
                background-size: cover;
                // right: 0px;
                // top: 50%;
                // transform: translate(-50%, -50%);
              }
            }
          }
        }
      }
    }
  }

  &__baner {
    flex: 1 1 270px;
    margin-left: 23px;
  }
  .catalog__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__banner {
    margin-bottom: 10px;
    position: relative;
    &-img {
      width: 100%;
    }

    &-btn {
      position: absolute;
      top: 110px;
      left: 50%;
      transform: translate(-78px);
      border-width: 2px;
      border-style: solid;
      border-radius: 8px;
      border-color: $main-color;
      width: 156px;
      text-align: center;
      padding: 7px 0px;
      margin: 0;
      background: transparent;
      font-size: 18px;
      font-family: $main-font-light;
      color: rgb(0, 0, 0);
    }
  }

  .product__item {
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
  //Popup menu
  &__popup-menu {
    background-image: linear-gradient(90deg, #559f18, #67b81d);
    // width: 370px;
    height: 50px;
    display: flex;
    position: relative;
    .popup-menu-link {
      display: block;
      height: 100%;
      width: 50px;
      position: relative;
      margin-left: 6px;
      &:after {
        content: "";
        background: url(../../../img/icons/mode-list.svg) no-repeat 50%;
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 50%;
      }
    }

    .popup-menu-text {
      margin: 0;
      font-size: 18px;
      font-family: $main-font;
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin-top: 3px;
      padding-left: 10px;
    }

   
  }
  
  .catalog__baner--left {
    display: none;
  }
}
 //Выпадающее меню на странице каталога
 .pop-up__submenu {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 50px;
  z-index: 100;
  background-color: $white;
  border: 2px solid #67b81d;
  box-sizing: border-box;
}
  .sub-menu__item {
    font-family: $main-font-light;
    cursor: pointer;
  }

  .sub-menu__link {
    position: relative;

    &:hover {
      color: #67b81d;
    }

    &:after {
      content: "";
      width: 20px;
      height: 18px;
      position: absolute;
      background: url(../../../img/arrow/arrow-active-top.svg) no-repeat 50%;
      background-size: 60%;
      z-index: 1000;
      top: 0;
      right: -30px;
      transform: rotate(90deg);
      transition: all 0.2s ease;
    }

    &.show {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  .sub-menu__list-second {
    display: none;

    .sub-menu__item-second {
      margin-top: 10px;
      margin-bottom: 10px;

      &:hover {
        color: #67b81d;
      }

      a {
        display: block;
        height: 100%;
        color: #9a9a9a;
        &:hover {
          color: #67b81d;
        }
      }
    }
  }
