<div class="product__item">
  <!--add class "notavailable" for change cards color-->
  <img src="../../../img/tabs-slider/sale-1.png" class="product__img" alt="" />
  <a href="#"><h2 class="product__title">Конференц стол для переговоров</h2></a>
  <div class="price__block">
    <div class="product__price product__price-old">7900<span>грн</span></div>
    <div class="product__price product__price-new">7800<span>грн</span></div>
  </div>
  <div class="product__notavailable">Товара нет в наличии</div>

  <div class="product__buy">
    <a href="#" class="product__button">В корзину</a>
    <div class="control__box compare">
      <a href="#" class="product-compare__link active">
        <!--add class "active" for change color-->

        <svg
          id="compare__icon-libra"
          xmlns="http://www.w3.org/2000/svg"
          height="40px"
          viewBox="0 0 512 424.12"
        >
          <defs>
            <style type="text/css">
              .control__icon-libra {
                fill: #dedede;
              }
            </style>
          </defs>
          <path
            class="control__icon control__icon-libra"
            d="M278.4,307.32a116.8,116.8,0,1,0,220.3-54.16L419.09,89.67h13.35A13.52,13.52,0,0,0,446,76.15V53.62A13.52,13.52,0,0,0,432.44,40.1H330.78C328.29,17.73,294.94,0,254.14,0S180,17.73,177.49,40.1H75.83A13.52,13.52,0,0,0,62.32,53.62V76.15A13.52,13.52,0,0,0,75.83,89.67H92.91L13.3,253.16A116.8,116.8,0,0,0,199.38,389.91a116.76,116.76,0,0,0,21-136.74L140.69,89.67H371.37L291.7,253.16A117.12,117.12,0,0,0,278.4,307.32Zm-87.13-39.73.22.49a83.38,83.38,0,0,1,9.67,39.29H32.43a83.38,83.38,0,0,1,9.67-39.29l.11-.22L116.8,114.8Zm129.23.49.11-.22L395.2,114.8l74.48,152.85.22.49a83.38,83.38,0,0,1,9.67,39.29H310.83A83.28,83.28,0,0,1,320.51,268.08Z"
          />
        </svg>
        <div class="compare-show"></div>
      </a>
    </div>
  </div>
</div>
