<!-- if is not FrontPage add class "rect" -->
<header class="header rect">
   
   <!--add display:none if front page-->
   <div class="layer"></div>
   <!---->
  <div class="container">
   
    <div class="inner__wrap">
      <div class="header__logo">
        <a href="/" class="header__logo-link">
          <img src="../../../img/logo/logo.png" srcset="img/logo/logo.png 1x, img/logo/logo@2x.png 2x" alt="logo"
            class="header__logo-img" />
        </a>
      </div>
      <div class="wrap__menu">
        <div class="header__menu">
          <nav class="header__nav">
            <ul>
              <li><a href="#">Акции</a></li>
              <li><a href="#">Бренды</a></li>
              <li><a href="#">О компании</a></li>
              <li><a href="#">Сервис</a></li>
              <li><a href="#">Отзывы</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </nav>

        </div>

        <div class="header__contact">
          <div class="header__search">
            <form id="search" class="search" action="#">
              
              <input type="text" name="search" class="search__text" placeholder="Например кресло" />
              <button type="button" class="search__button">Найти</button>
              <button type="button" class="search__button--mob"></button>
              <!-- -->
            </form>
          </div>
          <div class="tels-block">
              <div class="tels__mobile">
                  <img src="../../../img/tel/phone-call.svg" alt="">
                </div>
            <div class="tels">
           
              <div class="dropdown dropdown__tels">
                <div class="top">
                  <a href="tel:+38(067)2210101" class="tel">(067) 221-01-01</a>
                  <div class="arrow"></div>
                </div>
                <ul class="dropdown__list dropdown__list-white">
                  <li>
                    <a href="tel:+38(067)2210101" class="tel">(067) 221-01-01</a>
                  </li>
                  <li>
                    <a href="tel:+38(067)2210101" class="tel">(067) 221-01-01</a>
                  </li>

                </ul>
              </div>
              <p class="tels__text">Выберите оператора</p>
            </div>
           
            <div class="tels-btn">
             
              <span>Мы перезвоним Вам</span>
            </div>
          </div>


        </div>

      </div>
    </div>
    <div class="control">
      <div class="control__top">
        <div class="dropdown lang-box">
          <!-- add claa open for showing  lang box-->
          <div class="dropdown__lang">
           
            <div class="top">
              
              <a href="#" class="lang">RU</a>
              <div class="arrow"></div>
            </div>
          </div>
          <form action="#" id="language">
            <ul class="dropdown__list dropdown__list-white">
              <li><a href="#" class="lang">ru</a></li>
              <li><a href="#" class="lang">ua</a></li>
            </ul>
            <input type="hidden" name="code" value="" />
            <input type="hidden" name="redirect" value="http://gamma-style.com.ua" />
          </form>
        </div>
      </div>
      <div class="control__bot">
        <div class="control__row">
          <div class="control__box compare">
            <a href="#" class="control__link active">
              <!--Add class active to change color-->

              <svg id="compare__icon-libra" xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 0 512 424.12">
                <defs>
                  <style type="text/css">
                    .control__icon-libra {
                      fill: #dedede;

                    }
                  </style>
                </defs>
                <path class="control__icon control__icon-libra"
                  d="M278.4,307.32a116.8,116.8,0,1,0,220.3-54.16L419.09,89.67h13.35A13.52,13.52,0,0,0,446,76.15V53.62A13.52,13.52,0,0,0,432.44,40.1H330.78C328.29,17.73,294.94,0,254.14,0S180,17.73,177.49,40.1H75.83A13.52,13.52,0,0,0,62.32,53.62V76.15A13.52,13.52,0,0,0,75.83,89.67H92.91L13.3,253.16A116.8,116.8,0,0,0,199.38,389.91a116.76,116.76,0,0,0,21-136.74L140.69,89.67H371.37L291.7,253.16A117.12,117.12,0,0,0,278.4,307.32Zm-87.13-39.73.22.49a83.38,83.38,0,0,1,9.67,39.29H32.43a83.38,83.38,0,0,1,9.67-39.29l.11-.22L116.8,114.8Zm129.23.49.11-.22L395.2,114.8l74.48,152.85.22.49a83.38,83.38,0,0,1,9.67,39.29H310.83A83.28,83.28,0,0,1,320.51,268.08Z" />
              </svg>
              <div class="count count-show">
                <!--Add class count-show for display number of compared items-->
                99
              </div>
            </a>
          </div>
          <div class="control__box basket">
            <a href="#" class="control__link">
              <!--Add class active to change color-->
              <svg id="compare__icon-basket" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                id="Capa_1" x="0px" y="0px" viewBox="0 0 297 297" style="enable-background:new 0 0 297 297;"
                xml:space="preserve" height="40px">
                <style type="text/css">
                  .control__icon-basket {
                    fill: #dedede;
                  }
                </style>
                <g>
                  <path class="control__icon control__icon-basket"
                    d="M34.632,203.561c0,22.814,18.492,41.385,41.273,41.516c-9.063,4.464-15.314,13.794-15.314,24.561  C60.591,284.726,72.864,297,87.95,297s27.361-12.274,27.361-27.362c0-10.762-6.248-20.089-15.303-24.555h105.641  c-9.055,4.466-15.301,13.793-15.301,24.555c0,15.088,12.274,27.362,27.359,27.362c15.086,0,27.359-12.274,27.359-27.362  c0-10.762-6.246-20.089-15.301-24.555h22.545c5.555,0,10.057-4.503,10.057-10.058c0-5.554-4.502-10.057-10.057-10.057H76.145  c-11.799,0-21.4-9.604-21.4-21.407v-16.349c6.254,3.777,13.578,5.955,21.4,5.955h141.563c21.895,0,43.756-16.493,49.768-37.547  l25.965-90.885c0.867-3.034,0.26-6.299-1.641-8.819c-1.9-2.52-4.875-4-8.029-4H54.745V41.523C54.745,18.627,36.122,0,13.229,0  C7.675,0,3.173,4.504,3.173,10.058s4.502,10.057,10.057,10.057c11.801,0,21.402,9.604,21.402,21.409V203.561z">

                </g>
              </svg>
              <div class="count">
                <!--Add class count-show for display number in bascket-->
                99
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>