<section class="text-content">
  <div class="container block">
    <div class="text-content__wrap hide-text">

      <h2 class="text-content__title">заголовок</h2>
      <p class="text-content__row">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos,
        explicabo rerum, autem hic nemo esse eaque quae architecto reiciendis
        nisi sunt reprehenderit expedita? Ducimus minus ipsum similique dolorum!
        Blanditiis, culpa.
      </p>
      <p class="text-content__row">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos,
        explicabo rerum, autem hic nemo esse eaque quae architecto reiciendis
        nisi sunt reprehenderit expedita? Ducimus minus ipsum similique dolorum!
        Blanditiis, culpa.
      </p>
      <p class="text-content__row">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos,
        explicabo rerum, autem hic nemo esse eaque quae architecto reiciendis
        nisi sunt reprehenderit expedita? Ducimus minus ipsum similique dolorum!
        Blanditiis, culpa.
      </p>
      <p class="text-content__row">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos,
        explicabo rerum, autem hic nemo esse eaque quae architecto reiciendis
        nisi sunt reprehenderit expedita? Ducimus minus ipsum similique dolorum!
        Blanditiis, culpa.
      </p>
      <p class="text-content__row">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos,
        explicabo rerum, autem hic nemo esse eaque quae architecto reiciendis
        nisi sunt reprehenderit expedita? Ducimus minus ipsum similique dolorum!
        Blanditiis, culpa.
      </p>
      <p class="text-content__row">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos,
        explicabo rerum, autem hic nemo esse eaque quae architecto reiciendis
        nisi sunt reprehenderit expedita? Ducimus minus ipsum similique dolorum!
        Blanditiis, culpa.
      </p>
      
    </div>
    <p class="text-content__more-btn">Больше</p>
  </div>
</section>
