<div class="banner__wrap">
  <div class="container">
    <div class="banner">
      <div class="banner__block banner__block-lg">
        <div class="banner__large">
          <a href="#" class="banner__link banner__link--1920"><img src="../../../img/banner/banner-lg.png" alt=""/></a>
          <a href="#" class="banner__link banner__link--320"><img src="../../../img/banner/banner-mob.png" alt=""/></a>
        </div>
      </div>
      <div class="banner__block banner__block-sm">
        <div class="banner__small">
          <a href="#" class="banner__link">
            <img src="../../../img/banner/banner-small-1.png" alt="" />
          </a>
        </div>
        <div class="banner__small">
          <a href="#" class="banner__link">
            <img src="../../../img/banner/banner-small-2.png" alt="" />
          </a>
        </div>
      </div>
      <div class="banner__advanteg">
        <img src="../../../img/banner/advantages.png" alt="" class="banner__advanteg-desc" />
        <img src="../../../img/banner/advantages-360.png" alt="" class="banner__advanteg-mob" />
      </div>
    </div>
  </div>
  <div class="banner__bg-img"></div>
</div>
