@font-face {
  font-family: "Bahnschrift";
  src: url("../fonts/Bahnschrift/Bahnschrift.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BahnschriftLight";
  src: url("../fonts/Bahnschrift/BahnschriftLight.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica.ttf"); 
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/Helvetica/HelveticaLight.ttf"); 
  font-weight: 300; 
  font-style: normal;
}

@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/Helvetica/HelveticaBold.ttf"); 
  font-weight: 700; 
  font-style: normal;
}
