// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//   .tels-block {
//     background: url("../img/tel/tell@2x.svg") no-repeat top left;
//   }
// }

@media screen and (max-width: 1366px) {
  //home page
  .container {
    max-width: 1230px;
  }
  .banner__bg-img {
    background-image: url(../../../img/banner/fone-1366.png);
    background-repeat: no-repeat;
    background-position: center 45px;
  }

  .header__logo {
    margin-right: 30px;
    width: 170px;
  }

  .header__logo-img {
    width: 100%;
  }

  .header__search {
    width: 100%;
  }

  .search {
    max-width: 450px;

    &__text {
      width: unset;
      flex-grow: 1;
    }

    &__button {
      width: 165px;
    }
  }

  .header__contact {
    .tels {
      width: 189px;
    }

    .tels-btn {
      margin-left: 12px;
    }
  }

  .dropdown {
    .tel {
      font-size: 18px;
    }

    .arrow {
      //   right: 27px;
      top: -3px;
    }
  }

  .dropdown__list-white {
    right: -10px;
  }

  .control {
    margin-left: 20px;
  }

  .menu__item {
    flex-grow: 1;

    &:first-child {
      padding-left: 15px;
    }

    &:last-child {
      padding-right: 15px;
    }
  }

  .menu__link {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .banner__block-sm {
    margin-left: 20px;
  }

  .banner__block-lg {
    flex: 1 1 817px;
  }

  .banner__large {
    max-width: 900px;
  }

  .banner__block-sm {
    flex: 1 1 335px;
  }

  .banner__advanteg {
    width: 62%;
    left: 4%;
  }

  .category__item:nth-of-type(2n) {
    margin-left: 10px;
  }

  .category__block-wrap {
    margin-bottom: 10px;
  }

  .category__block-ml {
    margin-left: 20px;
  }

  .category__block-mr {
    margin-right: 20px;
  }

  .category {
    margin-bottom: 50px;
  }

  .category__block-wrap {
    .category__item {
      padding-left: 20px;

      .category__item-title {
        font-size: 24px;
      }

      .category__item-img {
        right: 10px;
      }
    }
  }

  .r-tabs {
    .r-tabs-panel {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .stock__buy {
    .stock__button {
      margin-right: 15px;

      &:after {
        right: 20px;
      }
    }
  }

  .best-sale {
    margin-bottom: 50px;
  }

  .footer {
    &__content {
      padding-right: 0px;
    }

    &__col--clients {
      margin-left: 15px;
    }
  }

  #bx-slider {
    .slick-prev {
      left: -25px;
      z-index: 10;
    }

    .slick-next {
      right: -25px;
      z-index: 10;
    }
  }

  //catalog
  .catalog {
    &__filter-wrap {
      margin-top: 30px;
      flex: 1 0 270px;
      max-width: 270px;
    }

    &__filter-text {
      padding-left: 10px;
    }

    &__filter-item {
      padding: 20px 10px;
    }

    &__products {
      .product__item {
        padding: 20px 10px 30px;

        .product__button {
          width: 83px;
          height: 47px;

          span {
            display: none;
          }

          &::after {
            right: 28%;
          }
        }
      }
    }

    .catalog__banner-btn {
      top: 85px;
    }
  }
  //Pagination
  .pagination {
    margin-right: 215px;
  }

  //Text block
  // .text-content__wrap.hide-text {
  //   height: 180px;
  // }

  //Category

  .category__menu__list {
    margin-top: 0px;
  }

  .category__col-center {
    padding-left: 30px;
  }

  .category__col-left {
    flex: 1 1 400px;
  }

  .sub-menu__item {
    .sub-menu__list-second {
      padding-left: 15px;
    }
  }

  .category__tabs {
    margin-left: 300px;

    .stock__item {
      .stock__button {
        width: 83px;
        height: 47px;
        margin-right: 30px;

        &:after {
          right: 26px;
        }

        span {
          display: none;
        }
      }
    }

    .best-sale {
      #bx-slider.bx-category-slider {
        max-width: 730px;
      }

      #bx-slider .slick-prev {
        left: -70px;
      }

      #bx-slider .slick-next {
        right: -70px;
      }
    }
  }

  //Info-page
  .info-page__heading {
    .info-page__title {
      max-width: 68%;
    }
  }

  .info-page__wrap {
    .info-page__content {
      flex: 1 1 770px;

      .info-page__text {
        blockquot {
          .quote {
            margin-left: 120px;
          }
        }
      }
    }
  }

  //Basket
  .basket {
    .stock__buy {
      padding-left: 0px;
    }

    .basket__table td {
      padding-left: 30px;
    }

    .basket__table {
      tbody {
        .basket__table-img {
          padding-left: 20px;
        }
      }

      thead {
        .basket__table-img {
          padding-left: 20px;
        }
      }
    }
  }

  //Contact
  .contact {
    .contact__location {
      width: 770px;
      height: 500px;
    }

    .contact__info {
      width: 460px;
      height: 400px;
      top: 60px;
    }

    .contact__title {
      margin-bottom: 15px;
    }

    .contact__row {
      margin-bottom: 0px;
    }
  }

  //Product page

  .product {
    .product__img {
      img {
        max-width: 360px;
        height: 345px;
      }
    }

    .product__description {
      position: relative;
      justify-content: flex-start;

      .product-name {
        margin-bottom: 30px;
      }

      .product-status {
        margin-bottom: 30px;
      }

      .product-social {
        margin-bottom: 30px;
      }

      .price__block {
        margin-bottom: 20px;
      }

      .product-count {
        position: absolute;
        bottom: 155px;
        right: 125px;
      }
    }
  }

  .product__info {
    .product__slider {
      height: 300px;

      .vertica__slider {
        margin-top: 50px;

        .slick-slide {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        .item__img {
          height: 90px;

          img {
            height: inherit;
          }
        }
      }
    }
  }

  .recommendation__wrap {
    .rec-slider {
      .slick-prev {
        left: -20px;
        z-index: 2;
      }

      .slick-next {
        right: -20px;
        z-index: 2;
      }
    }
  }

  .best-sale__product {
    .best-sale {
      .bs-slider {
        .slick-prev {
          left: -20px;
          z-index: 2;
        }

        .slick-next {
          right: -20px;
          z-index: 2;
        }
      }
    }
  }

  //Checkout

  .checkout {
    .basket__title {
      display: none;
    }
    .checkout__item {
      padding: 20px;
      position: relative;

      .checkout__item-wrap {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      .checkout__inner-wrap {
        display: flex;
        height: 100%;
      }
      .checkout__item-del {
        position: absolute;
        width: auto;
        right: 20px;
        top: 20px;
      }
      .checkout__item-img {
        width: 20%;
      }
      .checkout__item-product {
        width: 95%;
        margin-left: 20px;
        border-bottom: 3px solid #f2f2f3;
        a {
          p {
            margin-top: 0px;
            padding-left: 0px;
          }
        }
      }
      .checkout__item-price {
        width: 33.33%;
      }
      .checkout__item-quantity {
        width: 33.33%;
      }
      .checkout__item-total {
        width: 33.33%;
      }
    }

    .checkout__form-wrap {
      flex: 1 2 870px;
    }

    .checkout__info {
      flex: 1 1 auto;
    }
    .form__info-block {
      max-width: 500px;
    }
  }
}

@media screen and(max-width: 1180px) {
  .footer {
    justify-content: space-between;

    .footer_coll-wrap {
      display: flex;
      flex-wrap: wrap;
      width: 33%;
    }

    .footer__col--clients,
    .footer__col--about,
    .footer__col--contact,
    .footer__col--social {
      margin-left: 0px;
    }
    .footer__col--contact {
      padding-left: 0px;
    }
    .footer__content {
      margin-right: 50px;
    }
  }
  .checkout {
    .form__info {
      flex-wrap: wrap;
      .form__info-block {
        max-width: 100%;
        width: 100%;
      }
      .form__message {
        padding-top: 30px;
      }
    }
  }
  .header {
    .search__text {
      width: 100%;
    }
    .header__logo {
      margin-right: 10px;
      width: 140px;
    }
  }

  //Product
  .product {
    .product__description {
      .product-count {
        bottom: 90px;
        left: 207px;
      }
    }
    .product__feature {
      display: flex;
      width: 100%;
      margin-top: 40px;
      .feature {
        width: 33.33%;
        margin-bottom: 0px;
        &:first-of-type {
          border-top-right-radius: unset;
          border-bottom-left-radius: 10px;
        }
        &:last-of-type {
          border-top-right-radius: 10px;
          border-bottom-left-radius: unset;
        }
        ul {
          padding-left: 60px;
        }
      }
      .feature-garanty,
      .feature-delivery {
        margin-right: 4px;
      }
    }
    .product__info {
      flex-wrap: wrap;
      height: max-content;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1000px;
  }

  .banner__bg-img {
    background-image: url(../../../img/banner/fone-1024.png);
    background-position: center -40px;
  }

  //Main Page
  .header {
    padding-top: 30px;
    .container {
      position: relative;
    }

    #compare__icon-libra {
      height: 35px;
    }

    #compare__icon-basket {
      height: 35px;
    }

    .control__icon-basket {
      height: 35px;
    }

    .header__nav {
      ul {
        padding-top: 0px;
        margin-top: 15px;
      }
    }

    .header__logo {
      width: 140px;
      margin-right: 13px;
    }

    .search__text {
      max-width: 200px;
    }

    .header__menu {
      // width: 540px;
      width: 75%;
    }

    .header__contact {
      .tels {
        padding-left: 28px;
      }
    }

    .dropdown {
      .arrow {
        right: 10px;
      }
    }

    .control {
      position: absolute;
      margin-left: 0px;
      flex-direction: row-reverse;
      right: 30px;
      width: unset;
      height: fit-content;

      .control__top {
        padding-top: 5px;
      }

      .control__box {
        margin-right: 20px;
      }
    }
  }
  .category__row {
    .banner__block {
      min-width: 240px;
    }
  }

  //Menu
  .menu {
    .menu__link {
      width: fit-content;
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;

      background-position-y: 50px;
    }

    .menu__image {
      zoom: 0.9;
    }
  }

  //Footer
  .footer {
    .footer_coll-wrap {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .banner__category {
    max-width: 240px;
  }

  .category__block-wrap {
    .category__item {
      .category__item-title {
        font-size: 19px;
      }
    }

    .category__item-button {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .category__item {
      height: max-content;
    }
  }

  // Catalog
  .catalog {
    .catalog__filter-wrap {
      max-width: 220px;
      flex: 1 1 auto;
      width: 100%;
      .pop-menu__list {
        padding-left: 15px;
      }
    }

    .catalog__filter {
      #slider {
        width: 180px;
      }

      .price-control-wrap {
        .filter-price {
          width: 60px;
          margin-right: 0px;
        }
      }
    }
    .catalog__controls {
      align-items: flex-start;
      .filter-item {
        margin-bottom: 5px;
        margin-left: unset;
        margin-right: 10px;
      }
      .sort_param {
        width: max-content;
        font-size: 16px;
        padding-top: 2px;
        padding-bottom: 2px;
      }
      .sort__dropdown {
        .dropdown__param {
          .arrow {
            top: 4px;
          }
        }
      }

      .sort {
        .catalog__mode-btn {
          width: 30px;
          height: 30px;
        }
      }
    }

    .catalog__baner--right {
      display: none;
    }

    .catalog__baner--left {
      display: block;
      margin-left: 0px;
      margin-top: 20px;
    }

    .catalog__banner-btn {
      top: 85px;
    }
  }

  .pagination {
    margin-right: 0px;
  }

  //Category
  .category {
    .category__wrap {
      position: relative;
    }

    .category__col-right {
      position: absolute;
      top: 380px;
      max-width: 220px;
    }

    .category__col-center {
      padding-left: 20px;
      padding-right: 0px;
    }

    .category__col-left {
      max-width: 220px;
    }

    .category__tabs {
      margin-left: 240px;

      .stock__item {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
      }

      .best-sale {
        #bx-slider.bx-category-slider {
          max-width: 630px;
        }

        #bx-slider {
          .slick-next {
            right: -25px;
          }

          .slick-prev {
            left: -25px;
          }
        }
      }
    }
  }

  // Info page
  .info-page__wrap {
    .info-page__social {
      .info-page__social-icons {
        width: 90px;
        .social__link {
          width: 40px;
          height: 40px;

          &:nth-child(2) {
            margin-right: 0px;
            margin-bottom: 10px;
          }
          &:nth-child(1) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  //Basket

  .basket {
    .basket__table {
      .basket__table-product {
        padding-left: 20px;
      }

      tbody {
        td {
          min-width: 75px;
        }
      }
    }
  }

  //Contact page
  .contact {
    .contact__wrap {
      .contact__info {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 350px;
        width: 420px;
      }
    }
    .contact__title {
      margin-bottom: 10px;
    }

    .contact__text {
      margin-bottom: 10px;
    }

    .contact__location {
      max-width: 620px;
      max-height: 450px;
    }

    .contact__row {
      .working-hours {
        margin-right: 25px;
      }
    }

    .contact__form {
      padding-left: 20px;
      padding-right: 20px;

      .form__text {
        margin-right: 30px;
        flex: 1 1 440px;
      }

      .items__wrap {
        flex: 1 1 auto;
      }

      .contact__form-btn {
        width: 440px;
      }
    }
  }

  //Chekout
  .checkout {
    .checkout__item {
      .checkout__item-img {
        width: 30%;
      }
    }
    .form__info {
      flex-wrap: wrap;

      .form__info-block {
        width: 100%;
      }

      .form__message {
        padding-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  //Header
  .header {
    .header__logo {
      max-width: 100px;
    }

    .inner__wrap {
      position: relative;
    }

    .header__menu {
      max-width: 496px;
      width: 100%;
    }

    .header__nav {
      ul {
        margin-bottom: 10px;
        margin-top: 5px;

        li {
          font-size: 16px;
        }
      }
    }

    .header__contact {
      // position: relative;
    }

    .header__contact {
      .tels-block {
        align-items: center;
      }
      .header__search {
        .search {
          width: 100%;
          max-width: unset;
        }
        position: absolute;
        bottom: -50px;
        left: 0;

        .search__text {
          max-width: unset;
        }
      }
    }

    .control {
      flex-direction: column;

      .control__box.basket {
        margin-right: 0px;
      }

      .control__top {
        padding-top: 0;
      }

      .control__bot {
        margin-top: 10px;
      }
    }
  }

  .menu {
    margin-top: 70px;

    .menu__image {
      display: none;
    }

    .menu__item:first-child {
      padding-left: 10px;
    }

    .menu__item:last-child {
      padding-right: 10px;
    }

    .menu__item {
      flex-basis: unset;
    }

    .menu__list {
      height: 54px;
    }

    .menu__item:after {
      height: 35px;
    }

    .menu__link {
      display: flex;
      justify-content: center;
    }

    .sub-menu__col {
      max-width: 295px;
      width: 100%;
      margin-left: 15px;
    }

    .sub-menu {
      top: 51px;
    }
  }
  .basket {
    .basket__control {
      .basket__chekout {
        .basket__btn--chekout {
          max-width: 251px;
          width: 100%;
        }
      }
      .basket__buymore {
        .basket__btn--more {
          max-width: 247px;
          width: 100%;
        }
      }
    }

    // .basket__table {
    //   tbody {
    //     tr {
    //       position: relative;
    //     }
    //   }
    // //  .basket__table-product {
    // //    position: absolute;
    // //    padding-left: 0;
    // // margin-left: 20px;
    // // border-bottom: 1px solid #f2f2f3;
    // // max-width: 570px;
    // // width: initial;
    // //  }
    // }
    // thead {
    //   display: none;
    // }
    // .mob-hide {
    //   display: none;
    // }
    .basket__item {
      padding-left: 15px;
    }

    .basket__title {
      display: none;
    }

    .basket__item-dell {
      position: absolute;
      right: 15px;
    }

    .basket_wrap-inner {
      display: flex;
    }
    .basket_item-wrap {
      display: flex;
      flex-direction: column;
    }
    .basket__item-dell {
      top: 15px;
    }
  }
  .footer {
    .footer__content {
      margin-right: 20px;
      max-width: 350px;
    }
  }
}

@media screen and(max-width: 768px) {
  .container {
    padding-left: 22px;
    padding-right: 22px;
  }
  //Header
  .header {
    .header__logo {
      max-width: 100px;
    }
    .layer {
      height: 170px;
    }
    .inner__wrap {
      position: relative;
    }

    .header__menu {
      max-width: 496px;
      width: 100%;
    }

    .header__nav {
      ul {
        margin-bottom: 10px;
        margin-top: 5px;

        li {
          font-size: 16px;
        }
      }
    }

    .header__contact {
      // position: relative;
    }

    .header__contact {
      .tels-block {
        align-items: center;
      }
      .header__search {
        .search {
          width: 100%;
          max-width: 724px;
        }
        position: absolute;
        bottom: -50px;
        left: 0;

        .search__text {
          max-width: 724px;
        }
      }
    }

    .control {
      flex-direction: column;

      .control__box.basket {
        margin-right: 0px;
      }

      .control__top {
        padding-top: 0;
      }

      .control__bot {
        margin-top: 10px;
      }
    }
  }

  .menu {
    margin-top: 70px;

    .menu__image {
      display: none;
    }

    .menu__item:first-child {
      padding-left: 10px;
    }

    .menu__item:last-child {
      padding-right: 10px;
    }

    .menu__item {
      flex-basis: unset;
    }

    .menu__list {
      height: 54px;
    }

    .menu__item:after {
      height: 35px;
    }

    .menu__link {
      display: flex;
      justify-content: center;
    }

    .sub-menu__col {
      max-width: 295px;
      width: 100%;
      margin-left: 15px;
    }

    .sub-menu {
      top: 51px;
    }
  }
  .banner__wrap {
    padding-top: 20px;
    .banner {
      flex-direction: column-reverse;
      margin-bottom: 145px;
    }
    .banner__block-sm {
      margin-left: 0px;
      display: flex;
      flex: 1 1 auto;
      margin-bottom: 30px;
    }
    .banner__small:last-of-type {
      margin-left: 20px;
    }
    .banner__small:first-child {
      margin-bottom: 0px;
    }
    .banner__block-lg {
      flex: 1 1 auto;
      max-height: 346px;
      img {
        max-height: 346px;
      }
    }
    .banner__advanteg {
      width: 90%;
      bottom: -18%;
      left: 6%;
    }
    .banner__bg-img {
      background-image: url(../../../img/banner/fone-768.png);
      background-position: center 0px;
    }
  }
  .category {
    .category__block-wrap {
      margin-bottom: 0px;
      // max-height: 450px;
      &:first-of-type {
        flex-direction: column;
        align-items: flex-end;
      }
      .category__item {
        flex: unset;
        .category__item-title {
          margin-top: 15px;
        }
        .category__item-links a {
          font-size: 14px;
          margin-bottom: 4px;
        }

        .category__item-button {
          max-width: 180px;
          margin-top: 5px;
          margin-bottom: 10px;
          & a {
            padding-left: 45px;
            padding-top: 7px;
            // padding-bottom: 7px;
          }
        }
      }
    }
    .category__block-ml {
      margin-left: 0px;
    }
    .category__block-mr {
      margin-right: 0px;
    }
    .category__item {
      width: 352px;
      margin-bottom: 25px;
    }
    .banner__category {
      max-width: 352px;
    }
    .category__row {
      .banner__block {
        position: absolute;
        flex: unset;
        max-width: 352px;
        max-height: 460px;
      }
    }
  }

  .r-tabs {
    .r-tabs-accordion-title {
      display: none;
    }
    .r-tabs-nav {
      display: block;
    }
  }
  #bx-slider {
    max-width: 600px;
    .slick-next {
      right: -50px;
    }
    .slick-prev {
      left: -53px;
    }
  }

  //Footer
  .footer {
    .footer__content {
      display: flex;
      margin-right: 0px;
      width: 100%;
      max-width: 100%;
      .footer__text {
        margin-left: 30px;
      }
    }
    flex-direction: column;
    .footer__info-wrap {
      display: flex;
    }
    .footer_coll-wrap {
      display: contents;
    }
    .footer__col--social {
      max-width: 124px;
      min-width: unset;
    }
  }

  //Catalog
  // .catalog {
  //   position: relative;
  //   padding-top: 52px;
  //   .catalog__wrap {
  //     margin-top: 80px;
  //     margin-left: 0px;
  //   }
  //   .catalog__filter-wrap {
  //     position: absolute;
  //     margin-top: 0px;
  //     max-width: calc(100% - 44px);
  //   }
  //   .catalog__filter {
  //     z-index: 100;
  //     position: relative;
  //     display: none;
  //     #slider {
  //       width: 90%;
  //     }
  //   }

  //   .arrow {
  //     &:after {
  //       z-index: 99;
  //     }
  //   }
  //   .pagination {
  //     margin: 0 auto;
  //   }
  //   .catalog__baner--left {
  //     display: none;
  //   }
  // }
  // //Breadcrumbs
  // .breadcrumbs {
  //   position: absolute;
  //   left: 22px;
  //   top: 0;
  //   max-width: 724px;
  //   .breadcrumbs__item {
  //     padding-top: 13px;
  //     padding-bottom: 13px;
  //   }
  // }
  .catalog {
    .container {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .pagination {
      margin: 0 auto;
    }
    .catalog__wrap {
      margin-left: 0px;
    }
    .catalog__filter-wrap {
      max-width: unset;
    }

    .catalog__filter {
      z-index: 100;

      display: none;

      #slider {
        width: 90%;
      }
    }
    .arrow {
      &:after {
        z-index: 99;
      }
    }
    .catalog__baner--left {
      display: none;
    }
    .catalog__baner--mobile {
      margin-bottom: 30px;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      .catalog__banner {
        max-width: 350px;
        max-height: 300px;
        margin-bottom: 0px;

        a {
          display: block;
          width: 100%;
          height: 100%;
        }
        .catalog__banner-img {
          height: 100%;
          cursor: pointer;
        }
      }
    }
  }
  // Category
  .category {
    .category__wrap {
      flex-direction: column;
    }

    .category__col-center {
      padding-left: 0px;
      margin-bottom: 10px;
    }

    .category__col-right {
      max-width: 724px;
      position: unset;
    }

    .category__col-left {
      width: 100%;
      max-width: 724px;
      flex: unset;
      margin-bottom: 10px;
    }
    .category__menu__list {
      padding-left: 0px;
      margin-bottom: 0px;
      .list__item {
        text-align: center;
      }
    }
    .category__list {
      .block__img {
        height: 100px;
      }
      .block__title {
        font-size: 14px;
      }
      .cat__block {
        padding-bottom: 0px;
      }
    }

    .banner__wrap {
      display: flex;
      justify-content: space-between;
      .category__banner:first-of-type {
        margin-bottom: 0px;
      }
      .category__banner {
        max-width: 350px;
        max-height: 300px;
        a {
          height: 100%;
        }
        .category__banner-img {
          height: 100%;
        }
      }
    }
    .category__tabs {
      margin-left: 0px;
    }
    .category__col-center {
      flex: 1 1 auto;
    }
    .sub-menu__item {
      .sub-menu__list-second {
        display: none;
      }
    }
    .sub-menu__link:after {
      display: none;
    }
  }

  //Info-page
  .info-page__wrap {
    flex-direction: column;

    .info-page__relevant {
      margin-left: 0px;
    }

    .mobile-hide {
      display: none;
    }
    .article-block__wrap {
      display: flex;
      border-top: 3px solid #f2f2f3;
    }
    .info-page__relevant {
      flex: 1 1 345px;
      margin-bottom: 30px;
      .article-block {
        border-bottom: unset;
        &:first-of-type {
          border-right: 3px solid #f2f2f3;
        }
      }
    }
  }

  //Basket
  .basket {
    // .basket__table {
    //   tbody {
    //     tr {
    //       position: relative;
    //     }
    //   }
    // //  .basket__table-product {
    // //    position: absolute;
    // //    padding-left: 0;
    // // margin-left: 20px;
    // // border-bottom: 1px solid #f2f2f3;
    // // max-width: 570px;
    // // width: initial;
    // //  }
    // }
    // thead {
    //   display: none;
    // }
    // .mob-hide {
    //   display: none;
    // }
    .basket__item {
      padding-left: 15px;
    }

    .basket__title {
      display: none;
    }

    .basket__item-dell {
      position: absolute;
      right: 15px;
    }

    .basket_wrap-inner {
      display: flex;
    }

    .basket_item-wrap {
      display: flex;
      flex-direction: column;
    }

    .basket__item-dell {
      top: 15px;
    }
    .basket__control {
      padding: 10px;
    }

    .best-sale {
      .r-tabs {
        .r-tabs-nav {
          .r-tabs-anchor {
            font-size: 18px;
          }
        }
      }
    }
  }

  //Contact
  .contact {
    .contact__wrap {
      .contact__info {
        width: 320px;
        height: max-content;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        top: 37px;

        .contact__title {
          font-size: 22px;
        }

        .contact__text {
          font-size: 14px;
          width: auto;
          margin-bottom: 15px;
        }

        .button {
          width: 220px;
        }
      }
    }

    .contact__row {
      .hours,
      .text {
        font-size: 14px;
      }
    }

    .contact__location {
      max-width: 496px;
      max-height: 350px;
    }

    .contact__form {
      .items__wrap {
        flex: 1 1 auto;
      }

      .contact__form-btn {
        width: 100%;
      }

      .form__text {
        flex: 1 1 auto;
      }
    }
  }
  //Product
  .product {
    .product__img {
      width: 290px;
      margin: 0 auto;

      img {
        max-width: 290px;
        max-height: 250px;
        width: 100%;
        height: 100%;
        object-fit: unset;
      }
    }

    .vertica__slider {
      display: none;
    }

    .product__info {
      .product__slider {
        height: 100px;
        margin-right: 0px;
        margin-top: 10px;

        .horizontal_slider {
          display: block;
          width: 266px;
          margin: 0 auto;

          .item__img {
            height: 80px;

            img {
              height: 100%;
            }
          }

          .slick-list {
            margin-top: 0px;
            margin-bottom: 0px;
          }

          .slick-next {
            left: -20px;
            top: calc(100% / 2 - 10px);
            transform: rotate(-90deg);
          }

          .slick-prev {
            right: -20px;
            top: calc(100% / 2 - 10px);
            transform: rotate(-90deg);
            left: unset;
            bottom: unset;
          }
        }
      }
    }

    .product__description {
      .price__block {
        margin-bottom: 0px;
      }

      .product-name {
        margin-bottom: 20px;
      }

      .product-status {
        margin-bottom: 20px;
      }

      .product-social {
        margin-bottom: 20px;
      }
    }

    .product-img__wrap {
      display: flex;
      flex-direction: column-reverse;
      margin-right: 20px;
    }
  }

  //Checkout
  .checkout {
    .checkout__container {
      flex-direction: column-reverse;
    }

    .checkout__info {
      margin-bottom: 30px;
      margin-left: 0px;
      max-width: unset;
    }
  }
}

@media screen and(max-width: 767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header {
    padding-top: 10px;

    .header__menu {
      display: none;
    }

    .inner__wrap {
      height: 146px;
    }

    .header__contact {
      .header__search {
        width: calc(100% - 120px);
        bottom: 0px;
        right: 0;
        left: unset;
        .search__text {
          padding-left: 10px;
          &::placeholder {
            font-size: 14px;
          }
        }

        .search {
          max-width: 100%;
        }
        .search__button {
          display: none;
        }

        .search__button--mob {
          display: block;
        }
      }
      .control {
        right: 10px;
      }

      .tels {
        display: none;
      }

      .tels-btn {
        display: none;
      }

      .tels__mobile {
        width: 34px;
        // position: absolute;
        // right: 0;
        display: block;
        img {
          width: 100%;
        }
      }

      .tels-block {
        position: absolute;
        right: 100px;
        display: flex;
      }
    }
  }

  .menu {
    margin-top: 0;
    width: 100px;
    position: absolute;
    top: 112px;
    left: 10px;
    .container {
      display: none;
    }
    // .menu__desctop {
    //   display: none;
    // }

    .menu__mob {
      display: block;
    }

    .menu__button--mob {
      width: 100px;
      height: 42px;
      background-image: linear-gradient(90deg, #559f18, #67b81d);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .button__tetx--mob {
        font-size: 18px;
        font-family: $main-font-light;
        color: rgb(255, 255, 255);
      }
    }

    .menu__list--mob {
      display: none;
      position: relative;
      z-index: 1;
      width: calc(100vw - 20px);
      padding-left: 0px;
      box-sizing: border-box;
      background-color: rgb(103, 184, 29);

      .menu__item--mob {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 60px;
        position: relative;

        a {
          font-size: 18px;
          font-family: $main-font-light;
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            background: url("../img/arrow/arrow-bot-white.svg");
            height: 20px;
            width: 20px;
            background-size: 50%;
            background-repeat: no-repeat;
            right: -30px;
            top: 3px;
          }
        }

        &:before {
          content: "";
          position: absolute;
          height: 1px;
          background-color: #fff;
          width: 90%;
          bottom: 0;
        }

        &:last-of-type {
          &:before {
            content: unset;
          }
        }
      }
    }
  }

  // .banner__wrap {
  //   .banner__block-sm {
  //     flex-direction: column;
  //   }

  //   .banner__small:last-of-type {
  //     margin-left: 0px;
  //   }

  //   .banner__small {
  //     max-height: max-content;
  //     max-width: 747px;

  //     &:first-of-type {
  //       margin-bottom: 30px;
  //     }
  //   }
  //   .banner__advanteg {
  //     bottom: -9%;
  //     left: 5%;
  //   }
  //   // для 320 сменить картинку банера
  //   // .banner__advanteg-desc {
  //   //   display: none;
  //   // }

  //   // .banner__advanteg-mob {
  //   //   display: block;
  //   // }
  // }

  //Footer
  .footer {
    .footer_coll-wrap {
      display: none;
    }
    .footer__content {
      flex-direction: column;
      .footer__text {
        margin-left: 0px;
      }
    }

    .footer__mob {
      display: flex;
      flex-direction: column;
      width: 100%;

      .footer__cross-img {
        width: 15px;
        height: 15px;
        position: absolute;
        right: 0px;
        top: 20px;
        transition: all 0.1s linear;
      }

      .footer__cross-img.show {
        transform: rotate(45deg);
      }

      .footer__mob--clients {
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        position: relative;
      }

      .footer__mob--about {
        border-bottom: 1px solid $white;
        position: relative;
      }

      .footer__mob--contact {
        position: relative;
        .tel {
          font-size: 24px;
          font-family: $main-font-light;
          letter-spacing: 0.7px;
          color: #fff;
          text-decoration: none;
        }
        border-bottom: 1px solid $white;
      }

      .footer__col--social {
        position: relative;
        max-width: unset;
        // border-bottom: 1px solid $white;
      }
    }
    .footer__logo-link {
      img {
        margin: 0 auto;
      }
    }
  }
  .stock__buy {
    .stock__button {
      width: 100px;
      height: 46px;
      &:after {
        top: 5px;
        right: 30px;
      }
      span {
        display: none;
      }
    }
  }
}
@media screen and(max-width: 479px) {
  //Main
  .stock__buy {
    .stock__button {
      width: 183px;
      height: unset;
      &:after {
        top: 8px;
        right: 20px;
      }
      span {
        display: inline;
      }
    }
  }
  .banner__wrap {
    .banner__block-sm {
      flex-direction: column;
    }

    .banner__small:last-of-type {
      margin-left: 0px;
    }

    .banner__small {
      max-height: max-content;
      max-width: 747px;

      &:first-of-type {
        margin-bottom: 30px;
      }
    }
    .banner__advanteg {
      bottom: -9%;
      left: 5%;
    }
    // для 320 сменить картинку банера
    // .banner__advanteg-desc {
    //   display: none;
    // }

    // .banner__advanteg-mob {
    //   display: block;
    // }
  }
  // .category {
  //   .category__row {
  //     flex-direction: column;
  //     .banner__block {
  //       position: unset;
  //       margin: 0 auto;
  //     }
  //     .banner__link {
  //       img {
  //         width: auto;
  //       }
  //     }
  //   }
  //   .category__block-ml {
  //     flex: unset;
  //   }
  // }
}
@media screen and(max-width: 650px) {
  .catalog {
    .catalog__products {
      .product__item {
        width: 49%;
        margin-bottom: 3px;
        // &:nth-last-child(-n + 3) {
        //   margin-bottom: 3px;
        // }
      }
    }
    .catalog__baner--mobile {
      flex-direction: column;
      align-items: center;
      .catalog__banner {
        max-height: unset;
        margin-bottom: 20px;
        width: 100%;
      }
    }
    .catalog__banner-btn {
      top: 150px;
    }
  }

  //Category
  .category {
    .pop-menu__list {
      padding-left: 10px;
    }
    .category__list {
      .cat__block {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .promo {
      padding-left: 0px;
    }
    .category__tabs {
      .r-tabs {
        .r-tabs-nav {
          .r-tabs-anchor {
            font-size: 18px;
          }
        }
      }
    }
  }
  .category__list {
    .cat__block {
      width: 49%;
    }
  }
  //Info page
  .info-page__heading {
    .info-page__title {
      max-width: 100%;
      margin-bottom: 15px;
    }
    .info-page__social {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .info-page__wrap {
    .info-page__social {
      .info-page__social-icons {
        width: 100%;
        .social__link:first-child {
          margin-bottom: 0px;
        }
        .social__link:nth-child(2) {
          margin: 0px;
          margin-right: 10px;
        }
      }
    }
    .info-page__content {
      .info-page__text {
        img {
          width: 100%;
        }
        blockquot {
          .quote {
            margin-left: 52px;
          }
        }
      }
    }
    ul,
    ol {
      padding-left: 30px;
    }
    .mobile-hide {
      display: block;
    }
    .info-page__relevant {
      .title-block {
        padding-left: 20px;
      }
      .article-block {
        border-bottom: 3px solid #f2f2f3;
        padding-left: 20px;
        .info-page__date {
          .comments-block {
            margin-left: 5%;
          }
        }
      }
    }
    .comments-block .mobile-hide {
      display: block;
    }
    .article-block__wrap {
      flex-direction: column;
      border-top: unset;
    }
  }

  //Contact
  .contact {
    .contact__title {
      margin-bottom: 40px;
    }
    .contact__form {
      width: 100%;
      height: 100%;
      padding: 10px;
      .form__wrap {
        flex-direction: column;
      }
      .form__text {
        margin-right: 0px;
        margin-bottom: 30px;
      }
    }
    .contact__wrap {
      .contact__location {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
      }
      display: flex;
      flex-direction: column;
      .contact__info {
        position: unset;
        width: 100%;
        margin-bottom: 20px;
        .working-hours {
          margin-right: 0px;
        }
      }
    }
  }

  //Product

  .product {
    .product__feature {
      flex-direction: column;

      .feature {
        width: 100%;
        margin-bottom: 3px;

        &:first-of-type {
          border-top-right-radius: 10px;
          border-bottom-left-radius: unset;
        }

        &:last-of-type {
          border-top-right-radius: unset;
          border-bottom-left-radius: 10px;
        }
      }
      .feature-garanty,
      .feature-delivery {
        margin-right: 0px;
      }
    }
    .product__description {
      .product-count {
        width: max-content;
        left: unset;
        right: 10px;
      }
    }
    .product-controls {
      .product__button {
        width: 180px;
        &::after {
          right: 10px;
        }
      }
    }
    .review__content {
      .reviews__wrap {
        .review__item {
          .review {
            flex-direction: column;
            .review__avatar {
              margin-right: 0px;
              margin: 0 auto;
            }
            .review__info {
              .review__name {
                text-align: center;
              }
              .rating {
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }

  //Basket

  .basket {
    .basket__item-img {
      margin-bottom: 75px;
      margin-right: 10px;
      img {
        width: 100%;
        min-width: 80px;
      }
    }
    .basket_wrap-price {
      width: calc(100% - 10px);
      display: flex;
      position: absolute;
      bottom: 5%;
      left: 10px;
    }
    .basket__control {
      .basket__buymore {
        display: none;
      }
      .basket__total-price {
        margin-left: 0px;
      }
    }
  }

  //Checkout

  .checkout {
    .checkout__item {
      .checkout__inner-wrap {
        margin-top: 20px;
      }
      flex-direction: column;
      .checkout__item-img {
        width: 100%;
        img {
          margin: 0 auto;
        }
      }
      .checkout__item-product {
        width: 100%;
        margin-left: 0px;
        a {
          margin: 0 auto;
          p {
            padding-right: 0px;
            margin-top: 20px;
          }
        }
      }
      .checkout__item-del {
        right: 10px;
        top: 10px;
        .product__dell {
          height: 23px;
          width: 23px;

          img {
            height: 11px;
            width: 11px;
          }
        }
      }
    }
    .checkout__control {
      padding: 10px;
      .checkout__buymore {
        .checkout__btn--more {
          width: 200px;
        }
      }
      .checkout__chekout {
        .checkout__btn--chekout {
          width: 200px;
        }
      }
    }
  }
}
@media screen and(max-width: 460px) {
  .catalog {
    .catalog__controls {
      flex-direction: column;
      .sort {
        width: 100%;
        margin-top: 30px;
        justify-content: space-between;
      }
    }
    .catalog__products {
      .product__item {
        width: 100%;
        // margin-bottom: 3px;
        // &:nth-last-child(-n + 3) {
        //   margin-bottom: 3px;
        // }
      }
    }
  }

  // //Category
  // .category__list {
  //   .cat__block {
  //     width: 100%;
  //   }
  // }

  //Sub category

  .category {
    .banner__wrap {
      flex-direction: column;
      .category__banner {
        max-height: unset;
        max-width: unset;
        &:first-of-type {
          margin-bottom: 20px;
        }
      }
    }
    .category__tabs {
      .stock__item {
        .stock__button {
          span {
            display: block;
          }
          width: 160px;
          &:after {
            right: 18px;
          }
        }
      }
      .best-sale {
        #bx-slider.bx-category-slider {
          margin-top: 10px;
        }
      }
    }
  }

  // Product
  .product {
    .product-controls {
      .product__button {
        width: 220px;
        &:after {
          right: 47px;
        }
      }
    }
    .product-img__wrap {
      margin-right: 0px;
    }
    .product__wrap {
      flex-direction: column;

      .product__description {
        .product-count {
          width: max-content;
          left: 190px;
        }
        .product-name {
          h1 {
            font-size: 20px;
          }
        }
      }
      .product-status {
        font-size: 16px;
      }
      .product-social {
        .social-text-grey {
          font-size: 16px;
        }
      }
    }
    .best-sale__product {
      .best-sale {
        .r-tabs {
          .r-tabs-nav {
            .r-tabs-anchor {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  //Basket
  .basket {
    .basket__control {
      flex-direction: column;
      .basket__total-price {
        margin-right: 0px;
        margin-top: 5px;
        margin-bottom: 15px;
        .total {
          font-size: 24px;
        }
        .total__price {
          margin-left: auto;
          font-size: 30px;
        }
      }
      .basket__chekout {
        .basket__btn--chekout {
          max-width: 100%;
        }
      }
    }
    .basket__item-price {
      .basket__price--curent {
        font-size: 20px;
      }
      .basket__price--old {
        font-size: 14px;
      }
    }
    .basket__item-total {
      .total__price {
        font-size: 20px;
      }
    }
    .basket__item-name {
      min-width: unset;
      a {
        p {
          font-size: 14px;
        }
      }
    }
    .basket__item-dell {
      right: 5px;
      top: 5px;
      width: 20px;
      height: 20px;
      .product__dell {
        width: 20px;
        height: 20px;
      }
    }
    .basket__item-quantity {
      .product__quantity {
        .number {
          input {
            width: 30px;
          }
        }
      }
    }
  }

  //Checkout
  //Checkout

  .checkout {
    .page__title {
      h1.page__title-checkout {
        font-size: 22px;
      }
    }
    .form__info {
      .form__message-img {
        width: 100%;
      }
    }
    .checkout__item {
      padding-top: 40px;
      .checkout__item-price,
      .checkout__item-quantity {
        width: 50%;
        align-items: unset;
      }
      .checkout__item-total {
        width: 100%;
        margin-top: 30px;
        justify-content: space-between;
        .total__price-text {
          display: block;
          font-size: 22px;
          font-family: $main-font;
          color: rgb(0, 0, 0);
          p {
            margin: 0;
          }
        }
      }
      .checkout__inner-wrap {
        margin-top: 20px;
        flex-wrap: wrap;
      }
      flex-direction: column;
      .checkout__item-img {
        width: 100%;
        a {
          img {
            margin: 0 auto;
            max-width: 100%;
          }
        }
      }
      .checkout__item-product {
        width: 100%;
        margin-left: 0px;
        a {
          margin: 0 auto;
          p {
            padding-right: 0px;
            margin-top: 20px;
          }
        }
      }
      .checkout__item-del {
        right: 10px;
        top: 10px;
        .product__dell {
          height: 20px;
          width: 20px;

          img {
            height: 10px;
            width: 10px;
          }
        }
      }
    }
    .checkout__control {
      flex-direction: column;
      padding: 20px;
      .checkout__buymore {
        margin-bottom: 20px;
        .checkout__btn--more {
          width: 100%;
        }
      }
      .checkout__chekout {
        .checkout__btn--chekout {
          width: 100%;
        }
      }
    }
  }
}
