// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//   .tels-block {
//     background: url("../img/tel/tell@2x.svg") no-repeat top left;
//   }
// }

@media screen and (max-width: 1366px) {
  //home page
  .container {
    max-width: 1230px;
  }

  .header__logo {
    margin-right: 30px;
    width: 170px;
  }

  .header__logo-img {
    width: 100%;
  }

  .header__search {
    width: 100%;
  }

  .search {
    max-width: 450px;

    &__text {
      width: unset;
      flex-grow: 1;
    }

    &__button {
      width: 165px;
    }
  }

  .header__contact {
    .tels {
      width: 189px;
    }

    .tels-btn {
      margin-left: 12px;
    }
  }

  .dropdown {
    .tel {
      font-size: 18px;
    }

    .arrow {
      //   right: 27px;
      top: -3px;
    }
  }

  .dropdown__list-white {
    right: -10px;
  }

  .control {
    margin-left: 20px;
  }

  .menu__item {
    flex-grow: 1;

    &:first-child {
      padding-left: 15px;
    }

    &:last-child {
      padding-right: 15px;
    }
  }

  .menu__link {
    padding-left: 15px;
    padding-right: 15px;
    width: max-content;
  }

  .banner__block-sm {
    margin-left: 20px;
  }

  .banner__block-lg {
    flex: 1 1 817px;
  }

  .banner__large {
    max-width: 900px;
  }

  .banner__block-sm {
    flex: 1 1 335px;
  }

  .banner__advanteg {
    width: 62%;
    left: 4%;
  }

  .category__item:nth-of-type(2n) {
    margin-left: 10px;
  }

  .category__block-wrap {
    margin-bottom: 10px;
  }

  .category__block-ml {
    margin-left: 20px;
  }

  .category__block-mr {
    margin-right: 20px;
  }

  .category {
    margin-bottom: 50px;
  }

  .category__block-wrap {
    .category__item {
      padding-left: 20px;

      .category__item-title {
        font-size: 24px;
      }

      .category__item-img {
        right: 10px;
      }
    }
  }

  .r-tabs {
    .r-tabs-panel {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .stock__buy {
    .stock__button {
      margin-right: 15px;

      &:after {
        right: 20px;
      }
    }
  }

  .best-sale {
    margin-bottom: 50px;
  }

  .footer {
    &__content {
      padding-right: 0px;
    }

    &__col--clients {
      margin-left: 15px;
    }
  }

  #bx-slider {
    .slick-prev {
      left: -25px;
      z-index: 10;
    }

    .slick-next {
      right: -25px;
      z-index: 10;
    }
  }
  //home page
  //catalog
  .catalog {
    &__filter-wrap {
      margin-top: 30px;
      flex: 1 1 270px;
      max-width: 270px;
    }

    &__filter-text {
      padding-left: 10px;
    }

    &__filter-item {
      padding: 20px 10px;
    }

    &__products {
      .product__item {
        padding: 20px 10px 30px;

        .product__button {
          width: 83px;
          height: 47px;

          span {
            display: none;
          }

          &::after {
            right: 28%;
          }
        }
      }
    }
  }
  //Pagination
  .pagination {
    margin-right: 215px;
  }

  //Text block
  // .text-content__wrap.hide-text {
  //   height: 180px;
  // }

  //Category

  .category__menu__list {
    margin-top: 0px;
  }

  .category__col-center {
    padding-left: 30px;
  }

  .category__col-left {
    flex: 1 1 400px;
  }

  .sub-menu__item {
    .sub-menu__list-second {
      padding-left: 15px;
    }
  }

  .category__tabs {
    margin-left: 300px;

    .stock__item {
      .stock__button {
        width: 83px;
        height: 47px;
        margin-right: 30px;

        &:after {
          right: 26px;
        }

        span {
          display: none;
        }
      }
    }

    .best-sale {
      #bx-slider.bx-category-slider {
        max-width: 730px;
      }

      #bx-slider .slick-prev {
        left: -70px;
      }

      #bx-slider .slick-next {
        right: -70px;
      }
    }
  }

  //Info-page
  .info-page__heading {
    .info-page__title {
      max-width: 68%;
    }
  }

  .info-page__wrap {
    .info-page__content {
      flex: 1 1 770px;

      .info-page__text {
        blockquot {
          .quote {
            margin-left: 120px;
          }
        }
      }
    }
  }

  //Basket
  .basket {
    .stock__buy {
      padding-left: 0px;
    }

    .basket__table td {
      padding-left: 30px;
    }

    .basket__table {
      tbody {
        .basket__table-img {
          padding-left: 20px;
        }
      }

      thead {
        .basket__table-img {
          padding-left: 20px;
        }
      }
    }
  }

  //Contact
  .contact {
    .contact__location {
      width: 770px;
      height: 500px;
    }

    .contact__info {
      width: 460px;
      height: 400px;
      top: 60px;
    }

    .contact__title {
      margin-bottom: 15px;
    }

    .contact__row {
      margin-bottom: 0px;
    }
  }

  //Product page

  .product {
    .product__img {
      img {
        max-width: 360px;
        height: 345px;
      }
    }

    .product__description {
      position: relative;
      justify-content: flex-start;

      .product-name {
        margin-bottom: 30px;
      }

      .product-status {
        margin-bottom: 30px;
      }

      .product-social {
        margin-bottom: 30px;
      }

      .price__block {
        margin-bottom: 20px;
      }

      .product-count {
        position: absolute;
        bottom: 155px;
        right: 125px;
      }
    }
  }

  .product__info {
    .product__slider {
      height: 300px;

      .vertica__slider {
        margin-top: 50px;

        .slick-slide {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        .item__img {
          height: 90px;

          img {
            height: inherit;
          }
        }
      }
    }
  }

  .recommendation__wrap {
    .rec-slider {
      .slick-prev {
        left: -20px;
        z-index: 2;
      }

      .slick-next {
        right: -20px;
        z-index: 2;
      }
    }
  }

  .best-sale__product {
    .best-sale {
      .bs-slider {
        .slick-prev {
          left: -20px;
          z-index: 2;
        }

        .slick-next {
          right: -20px;
          z-index: 2;
        }
      }
    }
  }

  //Checkout
  .checkout {
    .checkout__table {
      thead {
        display: none;
      }

      tbody {
        tr {
          position: relative;
        }

        .checkout__table-product {
          position: absolute;
          padding-left: 0;
          margin-left: 20px;
          border-bottom: 1px solid rgb(242, 242, 243);
          max-width: 570px;
          width: 100%;
        }

        .checkout__table-dell {
          position: absolute;
          padding-left: 0px;
          margin-left: -65px;
          margin-top: 20px;
        }

        .checkout__table-img {
          padding-top: 25px;
        }
      }
    }
    .checkout__form-wrap {
      flex: 1 2 870px;
    }
    .checkout__info {
      flex: 1 1 auto;
    }
  }
}
