//Body
$primary-color: #f2f2f3;
$white: rgb(255, 255, 255);
$main-font: "Bahnschrift";
$main-font-light: "BahnschriftLight";
$heading-text-font: "Helvetica";
$heading-text-font-light: "HelveticaLight";
$heading-text-font-bold: "HelveticaBold";
$PTSans-regular: "PTSans";
$PTSans-bold: "PTSans Bold";

$main-fs: 16px;
$main-color:rgb(103, 184, 29);
$from-color:rgb(85,159,24);
$to-color: rgb(103,184,29);
$icon-text-color:rgb(255, 255, 255);
$text-color:rgb(0, 0, 0);
$border-color:rgb(222, 222, 222);
$text-color_hover: rgb(103, 184, 29);

//Header 
$menu-font_size: 18px;
$menu-color_hover: rgb(103, 184, 29);


//Header placeholder
$place-holder-font: "Bahnschrift";
$place-holder-fs: 16px;
$place-holder-color:rgb(0, 0, 0);

//Header search form button
$search-button-fs: 18px;

//Header telephone block


//Compare block
$control-icon-color: #e96903;

//Menu 
$menu-text-color: rgb(28, 28, 28);
$menu-subtext-color:#9a9a9a;

//Banner
$banner-figure-orange: rgb(255, 105, 0);

//Category index page
$categiry-text-color: rgb(28, 28, 28);

//Footer
$footer-color: rgb(81, 95, 107);
$copyright-color: rgb(154, 154, 154);
$tel-block-color:#515f6b;
$tel-block-border:#e3e3e3;

//Social links
$social-from: rgb(70, 78, 86);
$social-to: rgb(108, 123, 136);

//Bradcrumbs
$breadcrumbs-color: rgb(88, 160, 26);
$breadcrumbs-color-curent:rgb(223, 223, 223);

//Contact page
$contact-title-font: "HelveticaBold";
$contact-title-color:rgb(28, 28, 28);
$contact-title-size: 26px;

//Page title text
$page__title-font : "HelveticaBold";
$page__title-size: 26px;
$page__title-color: rgb(28, 28, 28);