.checkout {
  .page__title {
    h1.page__title-checkout {
      font-size: $page__title-size;
      font-family: $page__title-font;
      color: $page__title-color;
      text-transform: uppercase;
      line-height: 0.769;
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  &__wrap {
    width: 100%;
  }

  &__container {
    display: flex;
  }

  .checkout__info {
    min-width: 270px;
    max-width: 400px;
    margin-left: 30px;
    border: 2px solid $white;
    height: fit-content;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: "Bahnschrift";
    color: rgb(28, 28, 28);
    // line-height: 0.9;

    p {
      display: flex;
    }

    .dotted {
      flex: 1 1 auto;
      border-bottom: 1px dotted rgb(28, 28, 28);
      margin-bottom: 5px;
    }

    .cost,
    .currency {
      font-size: 20px;
      font-family: "Bahnschrift";
      color: rgb(28, 28, 28);
      font-weight: bold;
    }

    .currency {
      margin-left: 5px;
    }

    .checkout__info-summ {
      font-size: 22px;
      font-family: "Bahnschrift";
      color: rgb(28, 28, 28);
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 40px;

      .cost {
        font-size: 26px;
        font-family: "Bahnschrift";
        color: rgb(103, 184, 29);
        font-weight: bold;
      }

      .currency {
        font-size: 26px;
        font-family: "Bahnschrift";
        color: rgb(103, 184, 29);
        font-weight: bold;
        text-transform: none;
      }
    }
  }

  &__form-wrap {
    flex: 1 1 auto;
  }

  .checkout__table {
    background-color: $white;
    width: 100%;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    tr {
      padding: 3px; /* Поля вокруг содержимого таблицы */

      /* Параметры рамки */
      text-align: left; /* Выравнивание по левому краю */
      border-bottom: 3px solid #f2f2f3;
    }

    td {
      padding-left: 20px;
      box-sizing: border-box;
    }

    thead {
      tr {
        height: 50px;
        font-size: 17px;
        font-family: "Bahnschrift";
        color: $main-color;
        line-height: 1.75;
        text-align: left;
      }
    }

    tbody {
      td {
        box-sizing: border-box;
        // min-width: 120px;
      }

      .checkout__table-img {
        padding: 40px 0px 40px 20px;
        width: 16%;

        a {
          display: block;
          max-height: 180px;
          width: fit-content;

          img {
            max-width: 180px;
            max-height: 180px;
          }
        }
      }

      .checkout__table-product {
        width: 490px;
        padding-left: 20px;

        a {
          display: block;

          p {
            font-size: 20px;
            font-family: $main-font;
            color: rgb(28, 28, 28);
            line-height: 1.5;
            transition: all 0.2s linear;
            max-width: 470px;
          }

          &:hover {
            p {
              color: $main-color;
            }
          }
        }
      }

      .checkout__table-price {
        .currency {
          padding-left: 6px;
        }

        .checkout__price--old,
        .checkout__price--curent {
          margin: 0;
        }

        .checkout__price--old {
          font-size: 18px;
          font-family: "Bahnschrift";
          color: rgb(154, 154, 154);
          font-weight: bold;
          text-decoration: line-through;
          line-height: 1.5;
        }

        .checkout__price--curent {
          font-size: 26px;
          font-family: $main-font;
          color: $text-color;
          font-weight: bold;
          // margin-bottom: 30px;
        }
      }

      .checkout__table-quantity {
        .product__quantity {
          display: flex;
          align-items: center;

          .minus {
            cursor: pointer;

            img {
              width: 15px;
            }
          }

          .plus {
            cursor: pointer;

            img {
              width: 15px;
              // zoom: 1.2;
            }
          }

          .number {
            input {
              text-align: center;
              width: 56px;
              font-size: 22px;
              font-family: $PTSans-bold;
              color: rgb(34, 34, 34);
              line-height: 2.273;
              border: none;
              margin-left: 10px;
              margin-right: 10px;
              border-bottom: 2px solid $main-color;
            }
          }
        }
      }

      .checkout__table-total {
        .total__price {
          font-size: 26px;
          font-family: $main-font;
          color: $text-color;
          font-weight: bold;

          .currency {
            padding-left: 6px;
          }
        }
      }

      .checkout__table-dell {
        width: 75px;
        .product__dell {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 2px solid rgb(255, 0, 0);
          //   background-color:
          width: 31px;
          height: 31px;
          cursor: pointer;

          img {
            width: 17px;
            height: 17px;
          }
        }
      }
    }
  }

  .checkout__control {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 35px 40px 36px 40px;
    justify-content: space-between;
    margin-bottom: 50px;

    .checkout__total-price {
      margin-left: auto;
      margin-right: 40px;
      display: flex;
      align-items: center;

      .total__price {
        font-size: 26px;
        font-family: $main-font;
        color: rgb(28, 28, 28);
        font-weight: bold;
      }

      .currency {
        font-size: 22px;
        font-family: $main-font;
        color: rgb(28, 28, 28);
        font-weight: bold;
        margin-left: 6px;
      }

      .total {
        font-size: 22px;
        font-family: $main-font;
        color: rgb(28, 28, 28);
        text-transform: uppercase;
        margin-right: 35px;
      }
    }

    .checkout__btn {
      font-size: 18px;
      font-family: $main-font-light;
      color: rgb(28, 28, 28);
    }

    .checkout__buymore {
      .checkout__btn--more {
        background-color: $white;
        // box-sizing: border-box;
        border-width: 2px;
        border-color: rgb(87, 159, 24);
        border-style: solid;
        width: 247px;
        height: 50px;

        &:hover {
          color: $white;
          background-image: linear-gradient(
            90deg,
            rgb(87, 159, 24) 2%,
            rgb(104, 183, 29) 100%
          );
        }
      }
    }

    .checkout__chekout {
      color: rgb(255, 255, 255);

      .checkout__btn--chekout {
        color: rgb(255, 255, 255);
        background-image: linear-gradient(
          90deg,
          rgb(87, 159, 24) 2%,
          rgb(104, 183, 29) 100%
        );
        border: none;
        width: 251px;
        height: 50px;

        &:hover {
          background-image: linear-gradient(
            90deg,
            rgb(104, 183, 29) 2%,
            rgb(87, 159, 24) 100%
          );
        }
      }
    }
  }

  .form__info {
    display: flex;
    justify-content: space-between;

    &-text {
      font-size: 18px;
      margin-bottom: 30px;
      font-family: $main-font-light;
      color: rgb(223, 223, 223);
    }
    background-color: #fff;
    padding: 10px 20px 35px 20px;

    .form__name,
    .form__surname,
    .form__city,
    .form__adress {
      position: relative;
      margin-bottom: 38px;
    }

    & label {
      position: absolute;
      top: -15px;
      font-size: 12px;
      font-family: $main-font-light;
      color: #579f18;
      font-weight: 700;
      opacity: 0;
    }

    &-block {
      width: 504px;

      .submit__form-btn {
        color: $white;
        font-size: 18px;
        font-family: $main-font-light;
        height: 50px;
        width: 100%;
        background-image: linear-gradient(
          90deg,
          rgb(87, 159, 24) 2%,
          rgb(104, 183, 29) 100%
        );
        border: none;
        outline: none;
      }
    }

    &-block {
      .form__input {
        height: 26px;
        font-size: 16px;
        font-family: $main-font-light;
        color: #1c1c1c;
        line-height: 1.5;
        width: 100%;
        border: none;
        border-bottom: 1px solid #c0de97;
        opacity: 0.6;
        position: relative;

        &:focus {
          font-size: 16px;
          font-family: $main-font-light;
          //   color: #1c1c1c;
          opacity: 1;
          border-bottom: 1px solid #579f18;

          &::placeholder {
            color: transparent;
          }
        }
      }

      label {
        position: absolute;
        top: -15px;
        font-size: 12px;
        font-family: $main-font-light;
        color: #579f18;
        font-weight: 700;
        opacity: 0;

        &.visible {
          opacity: 1;
        }
      }
    }

    .form__message {
      flex: 0 1 600px;
      margin: 0 auto;

      &-title {
        font-size: 20px;
        font-family: $main-font;
        color: rgb(87, 159, 24);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
      }

      &-text {
        font-size: 20px;
        font-family: $main-font;
        color: $text-color;
        font-weight: bold;
        text-align: center;
      }

      &-img {
        margin: 0 auto;
        margin-top: 50px;
      }
    }
  }
}
