<section class="best-sale">
  <div id="productTab">
    <ul>
      <li><a href="#rev-tab-1">О товаре</a></li>
      <li><a href="#rev-tab-2">Отзывы</a></li>
    </ul>
    <div id="rev-tab-1">
      <div class="features__content">
        <h2>Характеристики изделия:</h2>
        <p>ДСП украинских и европейских производителей, соответствующее вс</p>
        <ul class="features__list">
          <li class="features__item">Противоударная кромка ПВХ</li>
          <li class="features__item">Возможны изменения в конструкции</li>
          <li class="features__item">Сроки изготовленияот 5-ти до 10-ти дней</li>
        </ul>
        <p class="features__note">Замеры, установ, доставка - бесплатно</p>
      </div>
    </div>
    <div id="rev-tab-2">
      <div class="review__content">
        <div class="reviews__wrap">
          <div class="review">
            <div class="review__avatar">
              <img src="" alt="" />
            </div>
            <div class="review__content">
              <div class="review__name">Инокентий Длиннофамильный</div>
              <div class="reiting"></div>
              <div class="review__text">Таким образом постоянное информационно-пропагандистское обеспеч</div>
            </div>
          </div>
        </div>
        <div class="reviews__form"></div>
      </div>
    </div>
  </div>
</section>
