<section class="best-sale">
  <div id="productTab">
    <ul>
      <li><a href="#rev-tab-1">О товаре</a></li>
      <li><a href="#rev-tab-2">Отзывы</a></li>
    </ul>
    <div id="rev-tab-1">
      <div class="features__content">
        <h2>Характеристики изделия:</h2>
        <p>ДСП украинских и европейских производителей, соответствующее вс</p>
        <ul class="features__list">
          <li class="features__item">Противоударная кромка ПВХ</li>
          <li class="features__item">Возможны изменения в конструкции</li>
          <li class="features__item">Сроки изготовленияот 5-ти до 10-ти дней</li>
        </ul>
        <p class="features__note">Замеры, установ, доставка - бесплатно</p>
      </div>
    </div>
    <div id="rev-tab-2">
      <div class="review__content">
        <div class="reviews__wrap">
          <div class="review__item">
            <div class="review">
              <div class="review__avatar">
                <img src="../../../img/products/product-img.png" alt="" />
              </div>
              <div class="review__info">
                <div class="review__name">Инокентий Длиннофамильный
                </div>
                <div class="rating">
                  <select class="rating__customer">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <span class="review__date">25 сентября 2018</span>
                </div>
                <div class="review__text">
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                </div>
              </div>
            </div>
          </div>
          <div class="review__item">
            <div class="review">
              <div class="review__avatar">
                <img src="../../../img/products/product-img.png" alt="" />
              </div>
              <div class="review__info">
                <div class="review__name">Инокентий Длиннофамильный
                </div>
                <!--  https://antenna.io/demo/jquery-bar-rating/examples/-->
                <div class="rating">
                  <select class="rating__customer">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <span class="review__date">25 сентября 2018</span>
                </div>
                <div class="review__text">
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                </div>
              </div>
            </div>
          </div>
          <!-- add class "review_clip" to hide review -->
          <div class="review__item review_clip">
            <div class="review">
              <div class="review__avatar">
                <img src="../../../img/products/product-img.png" alt="" />
              </div>
              <div class="review__info">
                <div class="review__name">Инокентий Длиннофамильный
                </div>
                <div class="rating">
                  <select class="rating__customer">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <span class="review__date">25 сентября 2018</span>
                </div>
                <div class="review__text">
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                </div>
              </div>
            </div>
          </div>
          <div class="review__item review_clip">
            <div class="review">
              <div class="review__avatar">
                <img src="../../../img/products/product-img.png" alt="" />
              </div>
              <div class="review__info">
                <div class="review__name">Инокентий Длиннофамильный
                </div>
                <div class="rating">
                  <select class="rating__customer">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <span class="review__date">25 сентября 2018</span>
                </div>
                <div class="review__text">
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                </div>
              </div>
            </div>
          </div>
          <div class="review__item review_clip">
            <div class="review">
              <div class="review__avatar">
                <img src="../../../img/products/product-img.png" alt="" />
              </div>
              <div class="review__info">
                <div class="review__name">Инокентий Длиннофамильный
                </div>
                <div class="rating">
                  <select class="rating__customer">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <span class="review__date">25 сентября 2018</span>
                </div>
                <div class="review__text">
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                  <p>Таким образом постоянное информационно-пропагандистское обеспеч</p>
                </div>
              </div>
            </div>
          </div>
          <div class="show__review">
            <p class="show__review-btn">Показать все</p>
          </div>
        </div>
        <div class="reviews__form">
          <form action="#">
            <div class="reviews__form-title">
              <p>Оставить отзыв:</p>
            </div>
            <div class="reviews__form-rating">
              <select id="from-rating__customer">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <textarea class="reviews__form-text" name="customer-text" id="" cols="30" rows="5"
              placeholder="Ваш отзыв"></textarea>
            <button type="submit" class="reviews__form-btn">Оставить коментарий</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>